<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="toast-danger" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <!-- <div class="d-flex"> -->
      <div class="toast-header bg-danger text-light">
        <strong class="me-auto">Ocorreu um erro</strong>
        <button type="button" class="btn-close text-light" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body py-0 px-0">
        
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header text-light">
              <button class="accordion-button collapsed bg-danger text-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Ver mais...
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body error bg-danger-subtle">

              </div>
            </div>
          </div>
        </div>

      <!-- </div> -->
    </div>    
  </div>
</div>