.icons {
  width: 17px;
  height: 17px;
}

.icons-network{
  color: black;
  margin-left: 10px;
  width: 20px;
  height: 20px;
}

.media {
  text-decoration: none;
}


.card-prinicipal .nav-link {
  font-weight: 400;
  color: #727272;
}

.card-prinicipal .nav-link .icons {
  margin-right: 4px;
  margin-bottom: 4px;
  color: #727272;
}

.card-prinicipal .nav-link.active {
  font-weight: 500;
  color: #2470dc;
}

.destaque {
  font-weight: bolder;
  color: #2470dc;
}

.teste {
  font-size: 16.5px;
}

.media:hover .icons-network {
  color: #2470dc;
}

.card-prinicipal .nav-link:hover .icons,
.card-prinicipal .nav-link.active .icons {
  font-weight: 500;
  color: #2470dc;
}

.major-mono-display-regular {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
}

.orbitron-uniquifier {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.scrollbar {
  height: calc(90vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.fixed-column {
  height: 100vh;
  overflow: hidden;
}

.scrollbar::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

/* Fundo da barra de rolagem */
.scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor do fundo da barra de rolagem */
  border-radius: 10px;
}

/* Polegar/handle da barra de rolagem */
.scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Cor do polegar */
  border-radius: 10px;
}

/* Polegar ao passar o mouse */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor do polegar ao passar o mouse */
}
