<div class="tab-pane fade show active" id="about-tab-pane" role="tabpanel" aria-labelledby="about-tab" tabindex="0">
    <div class="row">
        <div class="col-sm-12 ms-3">
            <h1 class="text-start ubuntu-medium">Sobre <span class="destaque">mim</span></h1>
        </div>
        <div class="col-sm-5 mt-3 ms-3">
            <p class="text-sm-start ubuntu-light">Sou um profissional dedicado e apaixonado pela área de Tecnologia da Informação, com uma carreira diversificada que abrange várias vertentes do desenvolvimento e gestão de sistemas. Com experiência como Analista e Desenvolvedor de Sistema, desenvolvi uma profunda compreensão dos processos e práticas que impulsionam projetos de TI de sucesso.</p>
        </div>
        <div class="col-sm-6 mt-2 ms-5 teste">
            <p class="text-start"><span class="destaque ubuntu-bold">Idade</span><span class="ubuntu-light"> 29</span></p> 
            <p class="text-start"><span class="destaque ubuntu-bold">Cidade</span> <span class="ubuntu-light"> Juiz de Fora - MG</span></p>
            <p class="text-start"><span class="destaque ubuntu-bold">Endereço</span> <span class="ubuntu-light"> Av. Barão do Rio Branco - 3151</span></p>
            <p class="text-start"><span class="destaque ubuntu-bold">E-mail</span> <span class="ubuntu-light"> augusto.garcia.cp@gmail.com</span></p>
            <p class="text-start"><span class="destaque ubuntu-bold">Whatsapp</span> <span class="ubuntu-light"> (32) 98857-6281</span></p>
        </div>

        <div class="col-sm-12">
            <h3 class="text-start ubuntu-medium ms-3 mt-3">Minhas <span class="destaque">capacidades</span></h3>
        </div>
        

        <div class="col-sm-5 mt-5 ms-3 mb-3">
            <div class="position-relative">
                <i data-lucide="landmark" class="position-absolute top-50 start-0 translate-middle ms-3"></i>
            </div>
            <h4 class="text-start ubuntu-medium ms-0 mt-3">Governança TI</h4>
            <p class="text-start ubuntu-light">
                O Governante de TI é um maestro experiente que conduz a orquestra da tecnologia com maestria, garantindo que a sinfonia da informação esteja em perfeita harmonia com os objetivos da organização.
            </p>
        </div>

        <div class="col-sm-5 mt-5 ms-3 mb-3">
            <div class="position-relative">
                <i data-lucide="cpu" class="position-absolute top-50 start-0 translate-middle ms-3"></i>
            </div>
            <h4 class="text-start ubuntu-medium ms-0 mt-3">Desenv. de Software</h4>
            <p class="text-start ubuntu-light">
                O Desenvolvedor de Software é o maestro da criação de software, desde a concepção até a implementação e manutenção. Sua missão é projetar, desenvolver, testar e aprimorar sistemas de software que atendam às necessidades de usuários e empresas.
            </p>
        </div>

        <div class="col-sm-5 mt-2 ms-3">

            <div class="position-relative">
                <i data-lucide="network" class="position-absolute top-50 start-0 translate-middle ms-3"></i>
            </div>
            <h4 class="text-start ubuntu-medium ms-0 mt-3">Arquitetura de Redes</h4>
            <p class="text-start ubuntu-light">
                É o maestro da conectividade, projetando e implementando a infraestrutura digital que sustenta o mundo moderno. Sua expertise abrange desde a concepção de redes complexas até a otimização do fluxo de dados, garantindo a comunicação eficiente e segura em diferentes ambientes.
            </p>

        </div>
        <div class="col-sm-5 mt-2 ms-3">

            <div class="position-relative">
                <i data-lucide="shield" class="position-absolute top-50 start-0 translate-middle ms-3"></i>
            </div>
            <h4 class="text-start ubuntu-medium ms-0 mt-3">Segurança da Informação</h4>
            <p class="text-start ubuntu-light">
                Assume o papel como guardião na proteção de dados e sistemas contra as crescentes ameaças cibernéticas. Sua missão vai além da mera instalação de firewalls e antivírus, transcendendo para o âmbito estratégico, onde a segurança da informação se torna um pilar fundamental para o sucesso e a competitividade das empresas.
            </p>

        </div>
    </div>
</div>