
    <img src="img/profile.jpeg" class="img-thumbnail rounded-circle float-center mb-5" hitght="250px" width="250px" alt="...">
    <h1 class="major-mono-display-regular user-select-none">Augusto Pires</h1>
    <p class="orbitron-uniquifier user-select-none">Tecnologia da Informação</p>
    <div class="row mt-4">
        <div class="col">
            <a href="https://www.linkedin.com/in/agcp050495/" target="_blank" class="media" alt="Instagram">
                <i data-lucide="linkedin" class="icons-network"></i>
            </a>
            <a href="https://stackoverflow.com/users/12717883/augusto" target="_blank" class="media" alt="Instagram">
                <i data-lucide="slack" class="icons-network"></i>
            </a>            
            <a href="https://github.com/AugustoGCP" target="_blank" class="media" alt="Instagram">
                <i data-lucide="github" class="icons-network"></i>
            </a>
            <!-- <a href="" class="media" alt="Instagram">
                <i data-lucide="instagram" class="icons-network"></i>
            </a> -->
        </div>
    </div>
    <a type="button" class="btn btn-lg btn-outline-secondary rounded-pill mt-4 pt-1" href="Augusto Pires - Curriculum Vitae.pdf" download="Augusto Pires - Curriculum Vitae.pdf">
        <i data-lucide="cloud-download" class="icons me-2"></i>Download CV
    </a>